.formItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 471px;
}

.formLogin{
    gap: 16px
}

.headerLogin{
    text-align: left;
    margin-top: 94px;
    align-items: center;
    right: 60px ;
}

.sectionlogin{
    gap: 73px;
}

